<div id="overlay" [ngStyle]="{'display' : showOverlay ? 'block' : 'none'}">
  <div id="text">Round: {{round}}</div>
</div>
<header>
  <div class="header-container">
    <div>
      <img src="../assets/clubs.png" alt="" width="40" height="40">
      <img src="../assets/hearts.png" alt="" width="40" height="40">
      <img src="../assets/spades.png" alt="" width="40" height="40">
      <img src="../assets/diamonds.png" alt="" width="40" height="40">
    </div>
    <h1>Hunt the Ace</h1>
  </div>
</header>
<main>
  <div *ngIf="!isGameInProgress" class="play-button-container">
    <span>Click 'Play Game' button to play the game</span>
    <div class="game-play-button-container">
      <button id="playGame" class="play-game" (click)="startGame()">Play Game</button>
    </div>
  </div>
  <ng-container *ngIf="isGameInProgress">
    <div class="main-status-div">
      <span class="score-span">Score : {{score}}</span>
      <span class="round-span">Round : {{round}}</span>
    </div>
    <div class="missed-span">
      <span class="info-span" *ngIf="!isCardSelected">
        Please click on the card that you think is Ace of Spades
      </span>
      <span *ngIf="showMissed">
        Missed
      </span>
      <img *ngIf="showMissed" src="../assets/sad-face-5144.svg" alt="" width="30" height="30">
      <span *ngIf="showCongratulations">
        Congratulations
      </span>
      <img *ngIf="showCongratulations" src="../assets/smiley-icon.svg" alt="" width="30" height="30">
    </div>
  </ng-container>
  <div class="card-main-div">
    <div class="card-sub-div" [ngClass]="isShuffle ? 'shuffle' : ''">

      <div [attr.id]="card.name" *ngFor="let card of cardsList" class="card" [ngClass]="{'card-flip' : isFlipCard && !card.isFlip}"  (click)="openCard(card.name)">
        <div class="front-card">
          <img [src]="card.url" alt="" class="card-img">
        </div>
        <div class="rear-card">
          <img src="../assets/Card_back_01.svg" alt="" class="card-img">
        </div>
      </div>
      
      <!-- <div id="diamonds" class="card shuffle" [ngClass]="isFlipCard ? 'card-flip' : ''" (click)="flipCard('spades')">
        <div class="front-card">
          <img src="./../assets/Ace_of_spades.svg" alt="" class="card-img">
        </div>
        <div class="rear-card">
          <img src="./../assets/Card_back_01.svg" alt="" class="card-img">
        </div>
      </div> -->
      
    </div>
  </div>
</main>