@import '../styles.scss';

h1 {
    font-size: 20px;
}
.card-main-div {
    position: relative;
}

.card-sub-div {
    position: absolute;
    perspective: 1000px;
    cursor: pointer;
}
header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 3%;
}
.card {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.front-card, .rear-card {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card-img {
    width: 225px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
}
.rear-card {
    transform: rotateY(180deg);
}
.card-sub-div .card-flip{
    transform: rotateY(180deg);
}

#playGame {
    appearance: none;
    background-color: transparent;
    // border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    // display: none;
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
  }
  
  #playGame:disabled {
    pointer-events: none;
  }
  
  #playGame:hover {
    color: #fff;
    background-color: $primary-color;
    box-shadow: $primary-color 0 8px 15px;
    transform: translateY(-2px);
  }
  
  #playGame:active {
    box-shadow: none;
    transform: translateY(0);
  }

  @keyframes game-play-button-fade-in{
    from{opacity: 0;}
    to{opacity: 1;}
  }

  .game-play-button-container{
    margin-top: 2%;
    width:250px;
    height:40px;
  }

  .card-sub-div {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
  }

  .card-main-div, .play-button-container, .header-container, .info-span, .missed-span, .congo-span{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-container {
    width: 53%;
    justify-content: space-between;
  }
  .play-button-container {
    flex-direction: column;
  }
  .missed-span, .congo-span {
    color: $warn-color;
  }
  .main-status-div {
    display: grid;
  }
  .score-span {
    text-align: center;
    color: $history;
  }
  .round-span {
    text-align: end;
    color: $history;
  }

  .shuffle {
    #diamonds {
        position: relative;
        animation-name: example1;
        animation-duration: .5s;
        animation-iteration-count:10;
        // animation-direction: alternate-reverse;
        animation-timing-function: linear;
      }
      @keyframes example1 {
        0%   {left:0px}
        25%  {left:250px}
        50%  {left:300px}
        75%  {left:250px}
        100% {left:0px}
      }
      #hearts {
        position: relative;
        animation-name: example2;
        animation-duration: .5s;
        animation-iteration-count:10;
        // animation-direction: alternate-reverse;
        animation-timing-function: linear;
      }
      @keyframes example2 {
        0%   {right:0px}
        25%  {right:250px}
        50%  {right:300px}
        75%  {right:250px}
        100% {right:0px}
      }
      #spades {
        position: relative;
        animation-name: example3;
        animation-duration: .5s;
        animation-iteration-count:10;
        // animation-direction: alternate-reverse;
        animation-timing-function: linear;
      }
      @keyframes example3 {
        0%   {left:0px}
        25%  {left:200px}
        50%  {right:400px}
        75%  {right:200px}
        100% {right:0px}
      }
      #clubs {
        position: relative;
        animation-name: example4;
        animation-duration: .5s;
        animation-iteration-count:10;
        // animation-direction: alternate-reverse;
        animation-timing-function: linear;
      }
      @keyframes example4 {
        0%   {right:0px}
        25%  {right:200px}
        50%  {left:400px}
        75%  {left:200px}
        100% {left:0px}
      }
  }

  #overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }