/* You can add global styles to this file, and also import other style files */
$background: #F2F6F8;
$primary-color: #5056ED;
$warn-color: #ED5050;
$base-color: rgba(0, 0, 0, 0.9);
$history: rgba(0, 0, 0, 0.8);

*{
    font-size: 16px;
    color: $base-color;
}
body{
    background: $background;
}